body{
  margin: 1em;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}
h1{
  font-size: 50px;
}
button{
  padding: 1em;
  margin: 1em;
  background-color: #e6faff;
  border: 2px solid black;
}
.statusDiv{
  font-size: 30px;
}
#outcomeBoard{
  display: flex;
  flex-wrap: wrap;
  height: 460px;
  width: 465px;
  margin: 0 auto;
  background-color: #e6faff;
  align-items: center;
  justify-content: center;
}
#square{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  height: 150px;
  width: 150px;
  font-size: 90px;
}
