h1, h3{
  text-align: center;
}

.button {
  text-align: center;
  padding: 10px;
}

.square{
  height: 200px;
  width: 200px;
  border: 2px solid black;
  font-size: 10rem;
  text-align: center;
}

.gameboard{
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0 auto;
}
