body {
  margin: 2em;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

h1 {
  font-size: 4em;
}

button {
  margin: 1em;
  border-radius: .5em;
  padding: 1em;
}

footer {
  padding: 2em;
}

input {
  border-radius: .5em;
}

#butcherPig {
  width: 12rem;
}

#inputPhrase{
  font-size: 1rem;
  height: 5rem;
  width: 20rem;
  text-align: center;
}

#box{
  background-color: #606060;
  color: #fff;
  border-radius: .5em;
  padding: 1rem;
}
