body{
  margin: 1em;
  text-align: center;
}
button{
  padding: 1em;
  margin: 1em;
}
#gameBoard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 460px;
  width: 480px;
  margin: auto;
}
#square{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed black;
  height: 150px;
  width: 150px;
}
